* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 16px;
}
.container {
  max-width: 1300px;
}
.container ul li a {
  color: white;
}
/*------------------------navigation ---------------------------------*/
nav {
  background-color: #ffbe0b;
  padding-left: 160px;
  height: 60px;
  top: 0;
  width: 100%;
   position: fixed;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li,
a {
  color: white;
}
nav ul li:nth-child(3) input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
nav ul li:nth-child(3) {
  position: relative;
  width: 300px;
}
nav ul li:nth-child(3) i {
  position: absolute;
  right: 12px;
  color: #333;
  line-height: 30px;
}
nav ul li a:hover {
  color: #333;
}
/* ---------------------------Menu-bar ------------------------------------------*/
.menu-bar {
  background-color: #ff611a;
  height: 50px;
  top: 60px;
  width: 100%;
   position: fixed;
}
.menu-bar ul {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}
section div ul li img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 42px;
}
.menu-bar ul li a {
  padding: 0 0 5px 0;
  line-height: 50px;
  color: black;
  font-size: 16px;
}
.menu-bar ul li {
  display: flex;
  width: 100%;
  transition: all 0.4s;
}
.menu-bar ul li:hover {
  background-color: rgb(228, 219, 219);
}
/*----------------------------------- slider--------------------------------------- */
li {
  list-style: none;
}
.slideShow {
  width: 1200px;
  margin: 120px auto 0 auto;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
.change-slide {
  width: 9999px;
  display: flex;
  transition: all 0.8s;
}
.change-slide img {
  width: 1200px;
  height: 400px;
}
/*---------------------------------------------------ShowProduct-------------------------------------*/
#list-item {
  max-width: 1200px;
  line-height: 1.15;
  color: #111;
  margin: 20px auto 70px auto;
}
.products ul li, a {
  color: black;
  cursor: pointer;
}
ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.products li {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #f3f0f0;
}
ul.products li img {
  max-width: 100%;
  height: auto;
  padding: 10px 0;
}
ul.products li .product-info a{
  display: block;
  text-decoration: none;
}
.product-info {
  text-align: center;
  font-weight: 600;
}
.product-price {
  padding: 10px 0;
}
.product-name {
  margin-top: 10px;
}
ul.products li a.cart-button {
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: #d25f5f;
  color: white;
  padding: 10px 0;
}
ul.products li a.cart-button:hover {
  background-color: #f80202;
}
/*-----------------------------------------Footer------------------------------*/
#footer-bottom {
  display: flex;
  background: #FFBE0B;
  color: #fdfcfc;
  font-weight: bold;
  height: 80px;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}
.footer-bottom {
  text-align: left;
  width: 60%;
  padding-left: 20px;
  font-size: 13px;
  padding-top: 10px;
}
.logo-footer {
  width: 15%;
  height: 80px;
  border-right: 5px solid #FF0000 ;
}
.logo-footer img {
  width: 100%;
  height: 100%;
}
/*---------------------------cart--------------------------------------------*/
.cart{
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.cart h2 {
  margin-bottom: 20px;
}
.cart table {
  width: 100%;
}
.cart table thead tr th:first-child {
  text-align: left;
}
.cart table tr td {
  border-bottom: 1px solid #dddd;
  padding: 12px 0;
}
.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
/*------------------------------------Cart-------------------------------------*/
.cart {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  height: 100vh;
  width: 500px;
  top: 60px;
  background-color: #fdfcfc;
  padding: 12px 12px;
  overflow: scroll;
  border-radius: 10px;
  right: -100%;
  transition: all 0.8s ease;
  opacity: 95%;
}
.cart th {
  padding: 20px 20px;
  font-weight: normal;
}
.cart button {
  margin-top: 30px;
  font-weight: bold;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #D25F5F;
}
.cart i {
  cursor: pointer;
  float: right;
}
